<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .meta {
          font-size: 0.7rem;
          font-weight: normal;
          text-transform: uppercase;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <img src="\assets\Pictures\the_eye_rays.png" alt="">
        <p class="title">
          {{page.title}} <span class="meta">Written By {{page.author}}</span>
        </p>
        {{content}}
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
